body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
   

}

#display_image{
    width: 350px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

#display_image1{
    width: 450px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

#display_image2{
    width: 450px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
#display_image3{
    width: 450px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}





